@using DateRange = SolarView.Common.Models.DateRange

<div class="chart-date-selector mb-2">
  <div class="chart-date-options">
    @foreach (var option in _options)
    {
      // DateRange is null for the custom option
      var disabled = option.DateRange != null &&
                     option.DateRange.StartDateTime < MinDate;

      <div class="p-1">
        <SfRadioButton Label="@option.Caption" Name="DateRange" @bind-Checked="@option.Selected" Disabled="@disabled"
                       OnClick="@(() => UpdateStyles(option))" />
      </div>
    }
  </div>
  <div class="p-0 mt-2 chart-date-range-picker" style="display: @_dateRangePickerDisplay">
    <SfDateRangePicker Min="@MinDate" Max="@MaxDate" Format="yyyy-MM-dd"
                       @bind-StartDate="@StartDate" @bind-EndDate="@EndDate"
                       Enabled="@(!_applyDateRangeDisabled)" StrictMode="true" Placeholder="Add a new range"
                       ValueChanged="ApplyCustomDateRange" />


  </div>
  <button class="btn btn-outline-primary btn-width-medium mt-2" style="display: @_applyButtonDisplay"
          disabled="@_applyDateRangeDisabled" @onclick="DateRangeSelected">Apply</button>
</div>

@code {
  [Parameter] public Func<DateRange, Task> OnApplyDateRange { get; set; }
  [Parameter] public DateTime MinDate { get; set; }
  [Parameter] public DateTime MaxDate { get; set; }

  private string _dateRangePickerDisplay = "none";
  private bool _applyDateRangeDisabled;
  private string _applyButtonDisplay = "inline-block";
  private IReadOnlyList<DateRangeSelectOption> _options;
  private DateTime? StartDate;
  private DateTime? EndDate;

  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    // ensure this is only performed the first time
    _options ??= InitialiseOptions();
  }

  private IReadOnlyList<DateRangeSelectOption> InitialiseOptions()
  {
    var monthStart = new DateTime(MaxDate.Year, MaxDate.Month, 1);
    var lastMonth = monthStart.AddMonths(-1);

    return new List<DateRangeSelectOption>
    {
      new DateRangeSelectOption
      {
        Caption = $"Last refresh ({MaxDate:yyyy-MM-dd})",
        DateRange = new DateRange(MaxDate, MaxDate)
      },
      new DateRangeSelectOption
      {
        Caption = "This Month",
        Selected = true,
        DateRange = new DateRange(monthStart, MaxDate)
      },
      new DateRangeSelectOption
      {
        // allowing partial 'last month'
        Caption = "Last Month",
        DateRange = new DateRange(lastMonth.IsSameMonthYear(MinDate) ? MinDate : lastMonth, monthStart.AddMonths(-1).GetEndOfMonth())
      },
      new DateRangeSelectOption
      {
        Caption = "Past 3 Months",
        DateRange = new DateRange(MaxDate.AddMonths(-3), MaxDate)
      },
      new DateRangeSelectOption
      {
        Caption = "Past 6 Months",
        DateRange = new DateRange(MaxDate.AddMonths(-6), MaxDate)
      },
      new DateRangeSelectOption
      {
        Caption = "Past Year",
        DateRange = new DateRange(MaxDate.AddYears(-1), MaxDate)
      },
      new DateRangeSelectOption
      {
        Caption = $"Since {MinDate:yyyy-MM-dd}",
        DateRange = new DateRange(MinDate, MaxDate)
      },
      new DateRangeSelectOption
      {
        Caption = "Custom",
        IsCustom = true
      }
    };
  }

  private void UpdateStyles(DateRangeSelectOption option)
  {
    _dateRangePickerDisplay = option.IsCustom ? "inline-block" : "none";
    _applyButtonDisplay = option.IsCustom ? "none" : "inline-block";
  }

  private async Task ApplyCustomDateRange()
  {
    if (!StartDate.HasValue || !EndDate.HasValue)
    {
      return;
    }

    try
    {
      _applyDateRangeDisabled = true;

      var dateRange = new DateRange(StartDate.Value, EndDate.Value);

      await OnApplyDateRange.Invoke(dateRange);
    }
    finally
    {
      _applyDateRangeDisabled = false;
    }
  }

  private async Task DateRangeSelected()
  {
    try
    {
      _applyDateRangeDisabled = true;

      var dateRange = _options.Single(item => item.Selected).DateRange;

      if (dateRange.StartDateTime < MinDate)
      {
        dateRange = new DateRange(MinDate, dateRange.EndDateTime);
      }

      await OnApplyDateRange.Invoke(dateRange);
    }
    finally
    {
      // clear any manually entered dates
      StartDate = default;
      EndDate = default;

      _applyDateRangeDisabled = false;
    }
  }
}
