<table class="table table-settings">
  <tbody>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">Site Id</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.SiteId</td>
    </tr>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">Start Date</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.StartDate</td>
    </tr>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">Contact</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.ContactName</td>
    </tr>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">Email</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.ContactEmail</td>
    </tr>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">TimeZone</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.TimeZoneId</td>
    </tr>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">Last Refresh</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.LastRefreshDateTime</td>
    </tr>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">Last Aggregation</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.LastAggregationDate</td>
    </tr>
    <tr class="row">
      <th scope="row" class="col-sm-6 col-md-3">Last Summary Email</th>
      <td class="col-sm-6 col-md-9">@CurrentSite.LastSummaryDate</td>
    </tr>
    <tr class="row">
      <td colspan="2" class="col-12">
        <button class="btn btn-outline-primary btn-width-medium mt-2" @onclick="RefreshSiteInfo">Refresh</button>
      </td>
    </tr>
  </tbody>
</table>

@code {
  [Inject] private ISiteViewModel SiteViewModel { get; set; }
  [Inject] private ISolarViewService SolarViewService { get; set; }

  private ISiteInfo CurrentSite => SiteViewModel.CurrentSite;

  private async Task RefreshSiteInfo()
  {
    _ = await SolarViewService.GetSiteDetails(CurrentSite.SiteId);
    StateHasChanged();
  }
}
