@using SolarView.Client.Common.Helpers

<div class="p-2 d-flex align-items-center">
  <SfCheckBox Label="Cumulative" @bind-Checked="@_cumulativeMode" @onchange="CalculateChartData" />
  <div class="ml-4" style="width: 120px">
    <SfDropDownList TValue="PowerUnit" TItem="DisplayUnit" Placeholder="Units" PopupHeight="100" Value="@_selectedUnit"
                    DataSource="@_displayUnits">
      <DropDownListFieldSettings Value="@nameof(DisplayUnit.Id)" Text="@nameof(DisplayUnit.Text)" />
      <DropDownListEvents TValue="PowerUnit" ValueChange="OnUnitChange" />
    </SfDropDownList>
  </div>
  <button class="ml-auto" @onclick="DeleteChart">Remove</button>
</div>
<div>
  <SfChart Title=@($"Period: {ChartData.StartDate:yyyy-MM-dd} to {ChartData.EndDate:yyyy-MM-dd}")>

    @*<ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"/>*@

    <ChartArea>
      <ChartAreaBorder Width="1" />
    </ChartArea>

    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelFormat="{value}"
                       IntervalType="IntervalType.Auto" EdgeLabelPlacement="EdgeLabelPlacement.Shift" />
    
    @*Maximum=@_maxWatts Interval="@_interval"*@
    <ChartPrimaryYAxis LabelFormat="@_axisFormat" Minimum="0" />

    <ChartTooltipSettings Enable="true" />

    <ChartSeriesCollection>
      @*red*@
      <ChartSeries DataSource=@_timeWatts Opacity="0.8" Fill="#d12e2e" Name="Consumption"
                   XName=@nameof(PowerData.Time) YName=@nameof(TimeWatts.Consumption) Type="ChartSeriesType.SplineArea">
      </ChartSeries>

      @*green*@
      <ChartSeries DataSource=@_timeWatts Opacity="0.8" Fill="#2bab4d" Name="Production"
                   XName=@nameof(PowerData.Time) YName=@nameof(TimeWatts.Production) Type="ChartSeriesType.SplineArea">
      </ChartSeries>

      @*blue*@
      <ChartSeries DataSource=@_timeWatts Opacity="0.6" Fill="#316bde" Name="Self Consumption"
                   XName=@nameof(PowerData.Time) YName=@nameof(TimeWatts.SelfConsumption) Type="ChartSeriesType.SplineArea">
      </ChartSeries>
    </ChartSeriesCollection>
    <ChartLegendSettings Visible="true" />
  </SfChart>
</div>

@code {

  [CascadingParameter] public ChartContainer Parent { get; set; }
  [Parameter] public ChartData ChartData { get; set; }

  private class TimeWatts
  {
    public string Time { get; }
    public double Consumption { get; set; }
    public double Production { get; set; }
    public double FeedIn { get; set; }
    public double Purchased { get; set; }
    public double SelfConsumption { get; set; }

    public TimeWatts(string time, WattsData watts)
    {
      Time = time;
      Consumption = watts.Consumption;
      Production = watts.Production;
      FeedIn = watts.FeedIn;
      Purchased = watts.Purchased;
      SelfConsumption = watts.SelfConsumption;
    }

    //public double GetMaxValue()
    //{
    //  return new[]
    //  {
    //    Consumption,
    //    Purchased,
    //    SelfConsumption,
    //    FeedIn,
    //    Production
    //  }.Max();
    //}
  }

  public enum PowerUnit
  {
    Watts,
    WattHour
  }

  private class DisplayUnit
  {
    public PowerUnit Id { get; }
    public string Text { get; }

    public DisplayUnit(PowerUnit id, string text)
    {
      Id = id;
      Text = text;
    }
  }

  private readonly IList<DisplayUnit> _displayUnits = new List<DisplayUnit>
  {
    new DisplayUnit(PowerUnit.Watts, "Watts"),
    new DisplayUnit(PowerUnit.WattHour, "Watt-Hour"),
  };

  private PowerUnit _selectedUnit = PowerUnit.Watts;

  //private double _maxWatts;
  //private double _interval;
  private bool _cumulativeMode;

  private string _axisFormat => GetAxisFormat();

  private IReadOnlyList<TimeWatts> _timeWatts;

  //protected override void OnParametersSet()
  //{
  //  base.OnParametersSet();

  //  if (Parent == null)
  //  {
  //    throw new InvalidOperationException($"The {nameof(Parent)} parameter must be initialized");
  //  }

  //  if (ChartData?.Power == null)
  //  {
  //    throw new InvalidOperationException($"The {nameof(ChartData)} parameter must be initialized with power data");
  //  }
  //}

  protected override void OnInitialized()
  {
    base.OnInitialized();
    CalculateChartData();
  }

  private void CalculateChartData()
  {
    if (_cumulativeMode)
    {
      var lastWattsItem = new WattsData();

      _timeWatts = ChartData.Power
        .Select(powerData =>
        {
          // displaying in KW / KWh when aggregating
          var scaledData = _selectedUnit == PowerUnit.Watts
            ? WattsDataHelpers.Scale(powerData.Watts, 0.001d)
            : WattsDataHelpers.Scale(powerData.WattHour, 0.001d);

          lastWattsItem = WattsDataHelpers.Aggregate(lastWattsItem, scaledData);

          return new TimeWatts(powerData.Time, lastWattsItem);
        })
        .AsReadOnlyList();
    }
    else
    {
      _timeWatts = ChartData.Power
        .Select(item =>
        {
          var wattData = _selectedUnit == PowerUnit.Watts
            ? item.Watts
            : item.WattHour;

          return new TimeWatts(item.Time, wattData);
        })
        .AsReadOnlyList();
    }

    //CalculateChartLimits();
  }

  //private void CalculateChartLimits()
  //{
  //  var maxWatts = _timeWatts.Max(watts => watts.GetMaxValue());

  //  _maxWatts = (1 + Math.Floor(maxWatts / 10d)) * 10d;
  //  _interval = _maxWatts / 8;
  //}

  private string GetAxisFormat()
  {
    return (_selectedUnit, _cumulativeMode) switch
    {
      (PowerUnit.Watts, true) => "{value}KW",
      (PowerUnit.Watts, false) => "{value}W",
      (PowerUnit.WattHour, true) => "{value}KWh",
      (PowerUnit.WattHour, false) => "{value}Wh",
      (_, _) => throw new InvalidOperationException($"Unknown Unit/Mode combination: {_selectedUnit}/{_cumulativeMode}")
    };
  }

  private async Task DeleteChart()
  {
    await Parent.DeleteChart(ChartData.Id);
  }

  private void OnUnitChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<PowerUnit> args)
  {
    _selectedUnit = args.Value;
    CalculateChartData();
  }
}
